html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
}

/* Top of page name and title */
#big-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 110px 0 150px 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: aliceblue;
    margin-bottom: 7px;
}

.navbar-default {
    background-color: rgba(249, 249, 250, 0.849);
}

.my-name {
    font-size: 37px;
    color: black;
}

.i-am {
    font-size: 23px;
    color: black;
}

/* Defines styling for hr elements */
hr {
    border-color: rgba(111, 104, 170, 0.637);
    width: 20%;
    border-width: 2.5px;
    border-radius: 3px;
    max-width: 75px;
}

/* About me and portrait */
#about-me {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 88, 150, 0.801);
    color: rgb(223, 239, 253);
    margin-top: 7px;
}

#portrait {
    max-width: 240px;
    max-height: 200px;
    position: relative;
    top: -116px;
    z-index: 1;
}

#portrait img {
    max-width: 100%;
    border-radius: 500px;
    border: solid 10px;
    border-color: rgb(255, 255, 255);
    background-clip:  content-box;
}

.about-text {
    margin-bottom: 20px;
    position: relative;
    bottom: 28px;
    padding: 0 15px 0 15px;
}

/* Project div that holds all project entries */
#projects {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Individual project divs */
#projects div.project-content {
    padding: 5px 5px 18px 5px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description {
    height: 45%;
}

.project-description a {
    text-decoration: none;
}

.project-description i[data] {
    font-size: 30px;
    color: black;
    transition: all .3s;
}

.project-description i[data]:hover {
    color: rgb(158, 158, 158);
}

.tech-stack-used {
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tech-stack-used i {
    margin: 8px 0;
    font-size: 25px;
    color: rgba(54, 88, 150, 0.801);
}

.video-walkthrough {
    height: 45%;
}

.video-walkthrough img {
    max-width: 100%;
    box-shadow: 0 1px 2px rgba(124, 124, 124, 0.781);
    border-radius: 5px;
    transition: all ease .4s;
}

.video-walkthrough img:hover {
    box-shadow: 0 5px 5px rgba(124, 124, 124, 0.781);
    transform: translateY(-5px);
}

/* Skill section showcasing different technologies */
#skills {
    width: 100%;
    max-height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(54, 88, 150, 0.801);
    padding: 20px 10px;
    color: aliceblue;
    position: relative;
}

#skills i {
    font-size: 50px;
    padding: 10px;
    transition: all ease .3s;
}

.skill-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#skills i:hover {
    transform: translateY(-8px);
}

.dull {
    color: rgba(240, 248, 255, 0.219);
}

.skill-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    position: relative;
}

.skill-group p {
    transition: all ease 1s;
    bottom: 10px;
    position: absolute;
    font-size: 12px;
}

/* Contact div that holds links to respective pages */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

#contact a {
    text-decoration: none;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#contact i {
    font-size: 45px;
    transition: all ease .2s;
}

#created-by {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
    background-color: rgba(24, 59, 90, 0.568);
    color: aliceblue;
}

@media (min-width: 575px) {
    #skills i {
        font-size: 55px;
    }
}

@media (min-width: 700px) {
    .my-name {
        font-size: 75px;
    }

    .i-am {
        font-size: 45px;
    }

    .about-text {
        font-size: 20px;
    }

    div[id] h3 {
        font-size: 30px;
    }

    div[id] h4 {
        font-size: 23px;
    }

    #projects div.project-content {
        flex-direction: row;
        margin: 25px 15px;
        justify-content: space-around;
    }

    .project-description i[data] {
        font-size: 25px;
        color: black;
    }

    .project-description {
        width: 45%;
    }

    .video-walkthrough {
        width: 45%;
    }

    #package-tracker div.project-content {
        flex-direction: row-reverse;
    }

    .tech-stack-used i {
        font-size: 30px;
        margin-bottom: 0;
    }

    #skills i {
        font-size: 85px;
    }
}

@media (min-width: 1200px) {
    #big-name {
        padding: 200px 0 200px 0;
    }

    .my-name {
        font-size: 90px;
    }

    div[id] h3 {
        font-size: 40px;
    }

    div[id] h4 {
        font-size: 33px;
    }

    div[id] h6 {
        font-size: 17px;
    }

    div[id] p {
        font-size: 20px;
    }

    #projects div.project-content {
        flex-direction: row;
        margin: 15px 35px;
        padding: 70px 0 70px 0;
        justify-content: space-around;
    }

    .project-description i[data] {
        font-size: 43px;
        color: black;
    }

    .tech-stack-used i {
        font-size: 38px;
    }

    #package-tracker div.project-content {
        flex-direction: row-reverse;
    }

    #skills i {
        font-size: 100px;
    }

    #contact i {
        font-size: 68px;
    }

    #portrait {
        max-width: 300px;
        max-height: 260px;
        top: -158px;
    }

    #skills i:hover {
        transform: translateY(-13px);
    }

    #contact {
        padding: 60px 0 60px 0;
    }
}

.hidden {
    visibility: hidden;
}